@charset 'UTF-8';
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
* {
  font-size: 1.4rem;
}
#app {
  padding-top: 30px;
  height: 100vh;
  background-color: rgb(173, 132, 102);
}
#list {
  background-color: rgb(208, 182, 157);
  min-height: 100vh;
}
#app1 {
  text-align: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(70, 2, 2);
  display: block;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.footer_nav {
  display: flex;
  align-items: flex-end;
}
.footer_nav h1 {
  width: -webkit-fill-available;
  border: 1px solid rgb(146, 144, 144);
}
li {
  list-style: none;
}
header {
  width: 100%;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}
#food_page {
  background-color: antiquewhite;
  min-height: 100vh;
}
.food_img {
  width: 200px;
}
.food_ttl {
  padding-top: 10px;
  color: rgb(92, 23, 23);

}
.food_txt {
  line-height: 2;
  word-break: keep-all;
}
.txt_ttl {
  color: rgb(92, 23, 23);
  padding-bottom: 10px;
}
.food_list {
  display: flex;
  align-items: center;
}
.food_list_li {
  width: 50%;
  border: 1px solid rgb(84, 60, 60);
  font-size: 17px;
  color: bisque;
  height: 130px;
}
.food_img {
  width: 100px;
}

@media (min-width: 576px) {
  #app, #food_page, #app {
    padding-top: 10%;
  }
  .food_list_li {
    height: 260px;
    line-height: 6;
  }  
}
/*タブレット 〜 */
@media (min-width: 768px) {
  html {
    font-size: 200.5%;
  }
  .food_list_li {
    height: 260px;
    line-height: 3;
  }  
  #app {
    padding-top: 10%;
  }
}
/*PC 〜 */
@media (min-width: 992px) {
  .food_list_li {
    height: 260px;
    line-height: 3;
  }  
}
/*PC大 〜 */
@media (min-width: 1200px) {
  .food_list_li {
    height: 280px; 
    line-height: 3;
  }
  .todaypage {
    width: 19em;
    height: 20em;
  }
}

