@charset 'UTF-8';
html {
  scroll-behavior: smooth;
  background-color: rgb(163, 116, 82);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(70, 2, 2);
}
.footer_nav {
  display: flex;
  align-items: flex-end;
}
.footer_nav h1 {
  width: -webkit-fill-available;
  border: 1px solid rgb(146, 144, 144);
}
li {
  list-style: none;
}
.footer {
  display: flex;
  justify-content: space-around;
}
